body {
    margin:0;
    padding:0;
    background-color: antiquewhite;
    font-family:Arial;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.navbar ul{
    list-style: none;
    background: #0094ff;
    padding: 0;
    margin:0;
    text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: antiquewhite;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size:15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover{
    background: #ff00dc;
}
.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}
input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #ffa580;

.button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
.button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

tr li td{
  font-family: "Fjalla One";
}

::selection {
  background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: "Fjalla One";
  min-width: 400px;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th {
  background-color: #ffa580;
  color: #000000;
  text-align: left;
}

h1 {
  font-family: "Fjalla One";
  text-align: center;
}